<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars Mvc Getting Started</title>
</head>
<body>
    <div>
        <h2>Handlebars Mvc Getting Started</h2>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/libs/handlebars.js"></script>
    <script src="~/dist/app.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>